
* {
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
}


body {
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #d8a7a7;
  color: #411e1e;
}


header {
  background-color: #154e26;
  color: #fff;
  padding: 1rem 2rem;
  text-align: start;
}

/* Navigation */
nav ul {
  display: flex;
  justify-content: center;
  list-style: upper-latin;
  padding: 1rem 0;
  background-color: #74135f;
  gap: 2rem;
}

nav a {
  color: #fcf190;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Card Section */
.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Footer */
footer {
  background-color: #e0e0e0;
  color: #4b0a0a;
  text-align: start;
  padding: 1rem;
  margin-top: 2rem;
}
